{% extends "CarProfile/layout.html" %}
{% block body %}
<div class="container">
    <h1 class="display-3">Optus Practice </h1>
    <p>
    <p>
    <h4>Admin Panel</h4>
    Username : admin
    Password : admin

    </p>
    <h4>CRUD</h4>
    </p>
    <p>
        This project wants to show CRUD functions. With Python Language and django framework. for storing data we use
        postgresql as SQL system to RDS. We have two kind of handling of database. in Two first tabs, Django will hadle all CRUD by itself.
        In (PostgreSQL) tabs, we call stored procedure in the postgresql with data. and postgresql will handle everything.

    </p>
    <p>
    <h4>READ</h4>
    </p>
    <p>
        for this project we imagine that we want to store Car information into the Backend. each car has its own name,
        color, model and picture.
        In Home page ( index.html ). we will have all objects in a list. (READ)


    </p>
    <p>
    <h4>DELETE</h4>
    </p>
    <P>
        each car will shoe in a card, and each card has its own two button. Delete and edit
        if user want to delete an object, just by click on delete button this object will remove from database. ( DELETE
        )

    </P>
    <p>
    <h4>UPDATE</h4>
    </p>
    <p>
        if user click on edit, user will direct to a new page to edit information about the object,(UPDATE)
    </p>
    <p>
    <h4>CREATE</h4>
    </p>
    <p>
        We have a form at the top of the page, you can add new car object by fill the form and submit the form. (CREATE)
    </p>


</div>


{% endblock %}